@font-face {
    font-family: 'laCartoonerie';
    src: url('/static/fonts/La Cartoonerie/laCartoonerie.ttf') format('truetype');
}

:root {
    --dark: #36393B;
    --dark-lighter: #686868;
    --primary-color: #56CFE4;
    --primary-accent : #AFD0D6;
    --secondary-color: #EA526F;
    --secondary-accent: #AE6F73;
    --glass: rgba(0, 0, 0, 0.096);

    --font-family: "laCartoonerie";

    font-family: var(--font-family);
}
body {
    margin: 0;
    background-color: var(--dark);
    color: white;
}

h1 {
    font-size: 45pt;
}
p {
    margin: 0;
    font-size: 16pt;
}
button {
    border-radius: 25px;
    padding: 10px;
    font-family: var(--font-family);
    font-size: 18pt;
    background-color: var(--primary-color);
    border-color: var(--dark);
    transition: all 0.2s;
}
button:hover {
    color: white;
    background-color: var(--dark);
    cursor: pointer;
}
label {
    display: block;
    margin-top: 15px;
}
input {
    height: 35px;
    border-radius: 15px;
    padding-left: 5px;
    font-family: var(--font-family);
}
input[type="submit"] {
    border-radius: 25px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    margin-top: 15px;
    font-family: var(--font-family);
    font-size: 18pt;
    background-color: var(--primary-color);
    border-color: var(--dark);
    transition: all 0.2s;
}
input[type="submit"]:hover {
    color: white;
    background-color: var(--dark);
    cursor: pointer;
}

.vertical-divider-primary {
    width: 10px;
    background-color: var(--primary-color);
}
.vertical-divider-secondary {
    width: 10px;
    background-color: var(--secondary-color);
}
.header-text {
    display: inline-block;
    margin: auto;
}
.home-banner {
    width: 100%;
    height: 250px;
    background: no-repeat 100% center;
    background-size: cover;
}
.banner-inner {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-left: 10%;
    margin-right: 10%;
    height: 250px;
}
.banner-inner-content {
    border-radius: 25px;
    overflow: hidden;
    background-color: var(--glass);
}
.title {
    margin-left: 15px;
    margin-right: 15px;
}
.divider-primary {
    height: 25px;
    width: 100%;
    background-color: var(--primary-color);
}
.divider-secondary {
    height: 25px;
    width: 100%;
    background-color: var(--secondary-color);
}
.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
.jar-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
#jar-container {
    max-width: 600px;
    max-height: 750px;
}
.jar-lid {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #AE6F73;
    /* border: 2px solid var(--dark); */
    border-radius: 50px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
}
.jar-body-outer {
    display: flex;
    justify-content: center;
    height: 650px;
}
.jar-body {
    display: flex;
    gap: 10px;
    background-color: #AE6F73;
    /* border: 2px solid var(--dark); */
    border-radius: 70px;
    width: 96%;
    padding: 15px 0;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.jar-body-scroller {
    background-color: var(--dark-lighter);
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}
.jar-body-scroller-content {
    display: flex;
    align-items: center;
    width: max-content;
    min-width: 400px;
    height: 100%;
}
.jelly-bean:hover {
    cursor: pointer;
}

.flavor-color {
    width: 25px;
    height: 25px;
}
#flavors_accordion_header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
    margin-top: 50px;
    background-color: var(--secondary-accent);
    max-width: 800px;
    min-width: 65%;
    padding: 15px;
}
#flavors_accordion_content {
    padding: 15px;
    border-radius: 0 0 15px 15px;
    min-width: 65%;
    background-color: var(--dark-lighter);
    margin-bottom: 50px;
}
.flavor-row {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-bottom: solid 1px var(--secondary-accent)
}